/* global stylesheet imported by `src/routes/+layout.svelte */

/*

:root {
  --some_stylish_property: 100%;
}

*/

/* TODO remove when `.color_b` is supported in Fuz */
.success {
	color: var(--color_b_5);
}

.error {
	color: var(--color_c_5);
}
