/* global stylesheet imported by `src/routes/+layout.svelte */

/*

:root {
  --some_stylish_property: 100%;
}

*/

/* TODO remove when `.color_b` is supported in Fuz */
.success_text {
	color: var(--color_b);
}

.error_text {
	color: var(--color_c);
}
